.carousel-indicators .active {
background:#31708f;
}

.content {
margin-top:20px;
}

.adjust1 {
float:left;
width:100%;
margin-bottom:0;
border: #FFCC55;
background: #FFCC55;
color: #994411;
}

.adjust2 {
  margin:0;
  color: #994411;
}

.carousel-indicators li {
  border:1px solid #994411;
}

.carousel-indicators li.active{
  background:#994411;
}

.carousel-control {
color:#994411;
width:5%;
}

.carousel-control:hover,.carousel-control:focus {
color:#994411;
}

.carousel-control.left,.carousel-control.right {
background-image:none;
}

.media-object {
margin:15% auto auto;
}

@media screen and max-width 768px{
.media-object {
margin-top:0;
}
}
