.carousel-indicators .active {
background:#31708f;
}

.content {
margin-top:20px;
}

.adjust1 {
float:left;
width:100%;
margin-bottom:0;
border: #FFCC55;
background: #FFCC55;
color: #994411;
}

.adjust2 {
  margin:0;
  color: #994411;
}

.carousel-indicators li {
  border:1px solid #994411;
}

.carousel-indicators {
  bottom: -10px;
}

.carousel-indicators li.active{
  background:#994411;
}

.carousel-control {
color:#994411;
width:5%;
}

.carousel-control:hover,.carousel-control:focus {
color:#994411;
}

.carousel-control.left,.carousel-control.right {
background-image:none;
}

blockquote.adjust2 > cite {
  color: #47453D;
}

.media-object {
margin:15% auto auto;
}

@media screen and max-width 768px{
.media-object {
margin-top:0;
}
}


.quick-btn {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 80px;
  padding-top: 16px;
  margin: 10px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
}
.quick-btn .label {
  position: absolute;
  top: -5px;
  right: -5px;
}

.quick-btn-left {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 80px;
  padding-top: 16px;
  margin: 10px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
}
.quick-btn-left .label {
  position: absolute;
  top: -5px;
  left: -5px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.hidden {
  display: none;
}

