<section id="contact" class="contact bg-primary">
  <div class="container">
    {% include testimonials.html %}

    <hr class='primary'>

    <h2>Sizleri aramızda görmekten büyük mutluluk <i class="fa fa-heart"></i> duyarız!</h2>

    <ul class="list-inline list-social">
      {% for network in site.social %}
      <li class="social-{{ network.title }}">
        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
      </li>
      {% endfor %}

      <li class="social-whatsapp visible-xs-inline-block">
        <a href="whatsapp://send?text=Merhaba Eistatistik hakkında destek almak istiyorum." data-action="share/whatsapp/share" class="btn-social btn-outline">
          <i class="fa fa-volume-control-phone"></i></a>
       </li>

      <li class="social-whatsapp visible-xs-inline-block">
        <!--a href="intent://send/905386150444#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" data-action="share/whatsapp/share" class="btn-social btn-outline"-->
        <a href="intent://send/905333619720#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" data-action="share/whatsapp/share" class="btn-social btn-outline">
          <i class="fa fa-whatsapp"></i></a>
      </li>

      <li class="social-whatsapp visible-xs-inline-block">
        <a href="tel:+905386150444">
          <i class="fa fa-phone"></i></a>
      </li>

      <li class="social-whatsapp visible-lg-inline-block visible-md-inline-block">
        <h2 class="text-success"><i class="fa fa-phone"></i> +90-(538)-615 0 444</h2>
      </li>
    </ul>
    <!-- <ul class="list-inline list-social">
      <li class="social-twitter">
      <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="social-facebook">
      <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="social-google-plus">
      <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      </ul> -->
  </div>
</section>

{% include footer.html %}
