<section id="education" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Eğitim bizim işimiz! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>Aşğıdaki eğitimler ilginizi çekebilir.</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/02.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MİNİTAB İLE UYGULAMALI İSTATİSTİK VE KALİTE KONTROL EĞİTİMİ 
                            </div>
                            <div class="project-name">
                                SANSET GIDA (ORDU-SAGRA) PERSONELİNE YÖNELİK TOPLAM 32 SAATLİK TEMEL
                                VE İLERİ DÜZEY İSTATİSTİKSEL ANALİZ İLE KALİTE KONTROL EĞİTİMİ TAMAMLANMIŞTIR.                             
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/01.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DOĞU ANADOLU KALKINMA AJANSI "UYGULAMALI SPSS EĞİTİMİ
                            </div>
                            <div class="project-name">
                                Doğu Anadolu Kalkınma Ajansı personeline yönelik düzenlemiş olduğumuz 
                                ve toplam 26 kişinin katıldığı eğitimimiz sona erdi. Hakkari, Muş, 
                                Bitlis ve Van dan eğitime katılan tüm DAKA personeline teşekkürlerimizi sunarız.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/03.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UYGULAMALI SPSS EĞİTİMİ 
                            </div>
                            <div class="project-name">
                                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner 
                                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik
                                düzenlediğimiz eğitim sona erdi.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/04.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 4
                            </div>
                            <div class="project-name">
                                Eğitim Fakültesi, Fen Edebiyat Fakültesi, İktisadi 
                                İdari Bilimler Fakültesi, TÜBİTAK Projesi hazırlayan MEB personeli, 
                                Saha Araştırması yapan Kurum ve Kuruluş personellerinin katılabileceği 
                                uygulamalı veri analizi eğitimimiz başlayacaktır.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/05.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 3
                            </div>
                            <div class="project-name">
                                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner 
                                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik 
                                düzenlediğimiz eğitim sona erdi. Fotoğrafta olmayan 
                                katılımcıları sonradan ekleyeceğim.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/06.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 2
                            </div>
                            <div class="project-name">
                                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner 
                                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik 
                                düzenlediğimiz eğitim sona erdi.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
