<header class="career">
  <div class="container">
    <div class="row">

      <div style="margin-top: 40px"></div>

      <div class="col-sm-6" style="background-color: rgba(0,0,0,0.0);">
        <h1 style="margin-top: 0px;margin-bottom: 30px;">Ekibimiz
          <span style="font-size: 12px;" >Bizimle çalışmak ister misiniz?
        </h1>

        <p>EİSTATİSTİK, konusunda uzman&akademik kadrosu, profosyonel yönetim anlayışı ve uluslararası standartlardaki çözümleri ile hizmet veren bir firmadır.</p>

        <h2>İnsan Kaynakları Politikamız</h2>

        <p>Karşılıklı güven ve etik değerlerin ön planda olduğu şirket kültürümüz, insan kaynakları politikamızın temelidir.</p>

        <h2>Kariyer ve İş Olanakları</h2>

        <p>Sayfadaki iletişim formunda bulunan ilgili bölümleri doldurup, “Upload/Dosya Seç” düğmesi yardımı ile özgeçmiş (CV) ekledikten sonra "Başvur" düğmesi ile başvuruda bulunabilirsiniz.</p>

        <h2>Başvuru ve İşe Alım Süreci</h2>
        <p>CV/Özgeçmişinizin bize ulaşması ile birlikte başvuru süreciniz başlamış demektir.</p>
        <p>CV/Özgeçmişinizde verdiğiniz bilgiler ve deneyimleriniz doğrultusunda aranan pozisyonlar için uygun olduğunuz saptandığında, sizinle mail yoluyla temasa geçilerek online sınav daveti gönderilecek.</p>
        <p>Online sınavda başarılı olmanız sonrasında İstatistik Otomasyonu üzerinden iş ataması yapılarak,
        ilk analizinizi yapmanız istenecektir.</p>
        <p>Yapmış olduğunuz analiz ve raporlamalarınız değerlendirildikten sonra İstatistik Otomasyon sistemine analizör kaydınız gerçekleştirilerek tarafınıza bilgi verilecektir.</p>
       

      </div>

      <div class="col-sm-6">
        <div class="cognito">
          <script src="https://services.cognitoforms.com/s/bSrVrTuxHUWKLNA-iKUw-w"></script>
          <script>Cognito.load("forms", { id: "1" });</script>
        </div>      
        <!--form id="career" action="https://getsimpleform.com/messages?form_api_token=7ab818f4a26c48719d1aa3d4f6a7971c" method="post">
          <div class="form-group">
            <label for="name">Ad Soyad (gerekli)</label>
            <input type="text" class="form-control" id="inName" placeholder="Ad Soyad">
          </div>

          <div class="form-group">
            <label for="inEmail">Email (gerekli)</label>
            <input type="email" class="form-control" id="inEmail" placeholder="Email">
          </div>
          
          <div class="form-group">
            <label for="inPhone">Telefon</label>
            <input type="phone" class="form-control" id="inPhone" placeholder="0555 444 33 22">
          </div>
          
          <div class="form-group">
            <label for="name">Konu</label>
            <input type="text" class="form-control" id="inSubject" placeholder="Ör. Analizör Başvurusu">
          </div>

          <div class="form-group">
            <label for="name">Mesaj</label>
            <textarea class="form-control" id="inMessage" rows="5" placeholder="Mesaj içeriğinizi yazınız"></textarea>
          </div>

          <div class="form-group">
            <label for="inCV">Özgeçmiş</label>
            <input type="file" id="inCV">
            <p class="help-block">Özgeçmiş (gif, png, jpg, jpeg, pdf, doc, odt, ods, rtf, docx, xls, xlsx, zip).</p>
          </div>          

          <button type="submit" class="btn btn-primary btn-block">Başvur</button>
        </form -->
      </div>

    </div>
  </div>
</header>

<style>
  form#career input, form#career textarea {
    background-color: rgba(0,0,0,.07);
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .navbar-default {
    font-weight: 500;
  }

  .navbar-default .nav > li > a {
    color: rgba(255, 101, 80, 0.4); }

  .navbar-default .nav > li > a:focus {
    color: rgba(255, 101, 80, 0.4); }

  .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
    color: rgba(255, 101, 80, 1.0); }
</style>