<header>
  <div class="container">
    <div class="row">

      <div class="col-sm-5">
      </div>

      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <div class="hidden-xs" style="margin-top: 35rem;"></div>

            <h1 style="margin-bottom: 0px;">HERKES İÇİN EİSTATİSTİK</h1>
            <h2 style="margin-top: 0px;margin-bottom: 30px;"">Verileriniz Akademik Ellerde</h2>
            
            <a class="btn btn-lg btn-success btn-outline hvr-float-shadow" href="http://app.{{site.dname}}" style="border-radius: 5px;">
              <i class="fa fa-paper-plane-o fa-3x pull-left"></i>ONLİNE EİSTATİSTİK OTOMASYONU<br><b> Başla!</b>
            </a>
            
            <!--a href="http://app.{{site.dname}}" class="btn btn-outline btn-xl page-scroll" style="color: black;">Herkes için EİSTATİSTİK. Başla!</a-->
            <!--hr>

            <h2>Sıklıkla kullanılan formları sizin için derledik.</h2>
            <a href="free" class="btn btn-info btn-outline btn-xl page-scroll">Ücretsiz Yararlanabilirsiniz</a-->
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
