<header>
  <div class="container">
    <div class="row">

      <div class="col-sm-9">
      </div>

      <div class="col-sm-3">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Verileriniz Akademik Ellerde</h1>
            <h2></h2>
            <a href="http://app.{{site.dname}}" class="btn btn-outline btn-xl page-scroll" style="color: black;">Herkes için EİSTATİSTİK. Başla!</a>
            <!--hr>

            <h2>Sıklıkla kullanılan formları sizin için derledik.</h2>
            <a href="free" class="btn btn-info btn-outline btn-xl page-scroll">Ücretsiz Yararlanabilirsiniz</a-->
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
