<header>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Verileriniz Akademik Ellerde</h1>
            <h2></h2>
            <a href="http://app.{{site.dname}}" class="btn btn-outline btn-xl page-scroll">Herkes için EİSTATİSTİK. Başla!</a>

            <!--hr>

            <h2>Sıklıkla kullanılan formları sizin için derledik.</h2>
            <a href="free" class="btn btn-info btn-outline btn-xl page-scroll">Ücretsiz Yararlanabilirsiniz</a-->
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="device-container">
          <div class="device-mockup" data-device="macbook" data-orientation="portrait" data-color="black">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <!--img src="http://i65.tinypic.com/2ic1v06.jpg" class="img-responsive" alt=""-->
                 <!--iframe width="100%" height="100%" src="http://www.youtube.com/embed/o9tK6T3ZKQ4" frameborder="0" allowfullscreen></iframe-->
<iframe id="parallax" height="600px" width="100%" data-src="parallax.html" scrolling="no" frameborder="0" src="parallax.html"></iframe>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
