<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top" style="padding-top: 10px;">
                <img src="/img/logo_header_en.svg" id="logo" height="25" alt="logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#step1">STATISTICAL ANALYSIS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#step2">AUTOMATION</a>
                </li>
                <li>
                    <a class="page-scroll" href="#step3">POLICY</a>
                </li>
                <li>
                    <a class="page-scroll" href="#step4">SERVICES</a>
                </li>
                <li>
                    <a class="page-scroll" href="#step5">AREAS OF EXPERTISE</a>
                </li>
                <li>
                    <a class="page-scroll" href="#step6">TRAINING</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">CONTACT</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.url}}"><i class="famfamfam-flag-tr"></i> TR</a>
                </li>
                <!--li>
                    <a href="/blog/">Blog</a>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
