<!-- jQuery -->
<!--
  <script src="/js/jquery.js"></script>
  <script src="/vendor/jquery/jquery.min.js"></script>
-->
<script src="/js/jquery-2.1.3.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/tf_numbers.js"></script>

<!-- Theme JavaScript -->
<script src="/js/new-age.min.js"></script>
<script src="/js/holmes.js"></script>
<script src="/js/bootstrap-toggle.min.js"></script>
<script src="/js/jquery.scrollme.js"></script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44827744 = new Ya.Metrika({
                    id:44827744,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44827744" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5851781873e3d85bf1319c95/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script type="text/javascript">
// holmes setup
var h = holmes({
  input: 'input#search_box',
  find: '.results .row.well',
  placeholder: '<h3>— Sonuç bululunamadı. —</h3>',
  mark: false,
  hiddenAttr: true,
  class: {
    visible: 'visible',
    hidden: 'hidden'
  },
  onHidden(el) {
    console.log('hidden', el);
  },
  onFound(el) {
    console.log('found', el);
  },
  onInput(el) {
    console.log('input', el);
  },
  onVisible(el) {
    console.log('visible', el);
  },
  onEmpty(el) {
    console.log('empty', el);
  }
});

// show all of the options
//document.getElementById('more').addEventListener('click',function(e){
//  e.preventDefault();
//  document.getElementById('full-doc').classList.toggle('hidden');
//});

// Toggle clicked class
var actions = document.querySelectorAll('[data-tooltip]');

for (var i = 0; i < actions.length; i++ ) {
  actions[i].addEventListener('click', function() {
    if (this.classList.contains('clicked')) {
      this.classList.remove('clicked')
    } else {
      this.classList.add('clicked')
    }
  })
}

// toggle for showing hidden elements
//document.querySelector('.visible').addEventListener('click', function(e) {
//  document.querySelector('.results').classList.toggle('classes');
//});

//document.querySelector('.mark').addEventListener('change',function(){
$('.mark').change(function() {
  h.stop().then(function(){
    h.options.mark = !h.options.mark;
    h.start();
    // hack to make it run at button click
    h.input.dispatchEvent(new Event('input'));
  })
});
</script>

<!-- Push Crew -->
<script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/d9eed174d72d8c60b1c32f0d3f022439.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
</script>
