<section id="statistical-analysis" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">İstatiksel Analiz</h2>
                <p>VERİ ANALİZİNİN NE KADAR ÖNEMLİ OLDUĞUNU BİLİYORUZ. İSTATİSTİK ALANINDAKİ 
                   UZMANLIĞIMIZI SİZİNLE PAYLAŞMA ADINA BURADAYIZ. VERİ ANALİZİNDE DOĞRU 
                   SONUÇ EİSTATİSTİK İLE BİR ADIM ÖNDE.</p>
                
                <div class="badges">
                    <a class="btn btn-lg btn-success" href="http://app.eistatistik.com">
                        <i class="fa fa-random fa-2x pull-left"></i>Uygulamaya Git
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
