<section id="step5" class="statistics download bg-primary text-center " data-background="#fdcc52" data-title-color="#444" data-icons-color="#800" data-numbers-color="rgb(53, 107, 68)" data-count-titles="rgb(56, 84, 95)">

  <div class="sec-title"><h2>İstatistiklerle EİSTATİSTİK</h2></div>
  <div class="row statistics-inner" style="margin: 0; padding: 0;">

    <div class="col-sm-2 col-xs-4 stat" data-count="1853">
      <span class="fa fa-heartbeat fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Tıp Fakültesi</span>
    </div><!-- .stat -->

    <div class="col-sm-2 col-xs-4 stat" data-count="1973">
      <span class="fa fa-medkit fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Diş Hekimliği</span>
    </div><!-- .stat -->

    <div class="col-sm-2 col-xs-4 stat" data-count="836">
      <span class="fa fa-hospital-o fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Sağlık Bilimleri</span>
    </div><!-- .stat -->

    <div class="col-sm-2 col-xs-4 stat" data-count="386">
      <span class="fa fa-paw fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Veterinerlik Fakültesi</span>
    </div><!-- .stat -->

    <div class="col-sm-2 col-xs-4 stat" data-count="436">
      <span class="fa fa-book fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Eğitim Bilimleri</span>
    </div><!-- .stat -->


  </div><!-- .statistics-inner -->

</section>
