<section id="step3" class="download bg-primary text-center" >

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Policy</h2>
        <hr class="danger">
        <br />
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row"> 

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-danger" data-wow-delay=".2s"></i>
            <h3 class="text-danger">Online</h3>
            <p class="text-muted">All the processes in statistical data analysis are done online and your files are backed up for a lifetime.</p>
          </div>
        </div> <!-- col-sm -->
      </div>
      
      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond wow bounceIn text-danger"></i>
            <h3 class="text-danger">Practical</h3>
            <p class="text-muted">You don't need to be expert in statistical analysis. The result of statistical analysis will be at the tip of your fingers in up to five steps with user friendly interface</p>
          </div>
        </div> <!-- col-sm -->
      </div>

    </div> <!-- row -->

    <div class="row">  

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane wow bounceIn text-danger" data-wow-delay=".1s"></i>
            <h3 class="text-danger">Quick</h3>
            <p class="text-muted">You are busy with your other work at your office you can analyze your data according to your preference Delivery from 12 hours to 30 days let us return the time to you.</p>
          </div>
        </div> <!-- col-sm -->
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-danger" data-wow-delay=".3s"></i>
            <h3 class="text-danger">Academic Staff</h3>
            <p class="text-muted">We work with experts in statistics at least have a postgraduate degree. (34 staff including 3 prrofessors, 4 associate professorsand 3 assistan professors)
we use SPSS, Minitab, LISREL package programs with commercial license for statistical analysis.</p>
          </div>
        </div> <!-- col-sm -->
      </div>
      
      <!--div class="col-lg-8 col-md-6 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/136855263" width="640" height="323" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>        
          <h3>Örnek video</h3>
        </div> 
      </div -->

    </div> <!-- row -->

  </div>
  
</section>
