<section id="step4" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>İstatiksel Analiz Uygulaması</h2>
                    <p class="text-muted">Çok sayıda analiz sizleri bekliyor.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/demo-screen-2.jpg" class="img-responsive" alt=""> </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-random fa-3x text-primary"></i>
                                <h3>İstatistiksel Analiz</h3>
                                <p class="text-muted">Makale, tez ve bilimsel araştırmalarda istatistiksel analiz talebi</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-bar-chart fa-3x text-primary"></i>
                                <h3>Raporlama</h3>
                                <p class="text-muted">Analiz sonuçlarının raporlanması talebi</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-line-chart fa-3x"></i>
                                <h3>Power Analiz</h3>
                                <p class="text-muted">Etik kurullar için Örnek genişliği ve Power analizi talebi</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-cogs fa-3x text-primary"></i>
                                <h3>Veri İşleme</h3>
                                <p class="text-muted">Veri girişi ve veri düzenleme işlemleri talebi</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-check-square-o fa-3x text-primary"></i>
                                <h3>Geçerlilik ve Güvenirlik Analizi</h3>
                                <p class="text-muted">Ölçek çalışmalarında geçerlilik ve güvenilirlik talebi</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-calculator fa-3x text-primary"></i>
                                <h3>Online Analiz</h3>
                                <p class="text-muted">Frekans Analizi, Tanımlayıcı İstatistik, Parametrik ve Parametrik olmayan analizler (bir, iki, çift, ANOVA)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
