<link href="/css/style.css" rel="stylesheet">
<section id="step5" class="statistics download bg-primary text-center " data-background="#fdcc52" data-title-color="#444" data-icons-color="#800" data-numbers-color="rgb(53, 107, 68)" data-count-titles="rgb(56, 84, 95)">

  <div class="sec-title"><h2>İstatistiklerle EİSTATİSTİK</h2></div>
  <div class="statistics-inner">

    <div class="stat" data-count="250">
      <span class="fa fa-heartbeat fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Tıp Fakültesi</span>
    </div><!-- .stat -->

    <div class="stat" data-count="100">
      <span class="fa fa-medkit fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Diş Hekimliği</span>
    </div><!-- .stat -->

    <div class="stat" data-count="50">
      <span class="fa fa-hospital-o fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Sağlık Bilimleri</span>
    </div><!-- .stat -->

    <div class="stat" data-count="30">
      <span class="fa fa-paw fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Veterinerlik Fakültesi</span>
    </div><!-- .stat -->

    <div class="stat" data-count="20">
      <span class="fa fa-book fa-4x stat-icon"></span>
      <span class="number"></span>
      <span class="count-title">Eğitim Bilimleri</span>
    </div><!-- .stat -->


  </div><!-- .statistics-inner -->

</section>
