<section id="step1" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
        
            <div class="col-md-7 col-xs-12 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
                <img src="img/reliable.jpg" class="img-responsive img-rounded" alt="reliable">
              </div>
            </div>

            <div class="clearfix visible-xs-block">
                &nbsp;
            </div>

            
            <div class="col-md-5 col-xs-12 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
                <h2 class="section-heading">İstatiksel Analiz</h2>
                <h3>Akademik çalışmalarınız için online istatistik otomasyonu hizmetinizde!</h3>
                <h3>İstatistik analizi dert etmeyin, verilerinizi akademik ellere bırakın.</h3>
                
                <div class="badges">
                    <a class="btn btn-lg btn-success" href="http://app.{{site.dname}}">
                        <i class="fa fa-random fa-2x pull-left"></i>Uygulamaya Git
                    </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
