<section id="step3" class="download bg-primary text-center" >

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hizmet Politikamız</h2>
        <hr class="danger">
        <br />
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row"> 

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-danger" data-wow-delay=".2s"></i>
            <h3 class="text-danger">Online</h3>
            <p class="text-muted">İstatistiksel veri analizindeki tüm süreçler online gerçekleşmekte ve verileriniz
            sadece sizin için bir ömür yedeklenmektedir.</p>
          </div>
        </div> <!-- col-sm -->
      </div>
      
      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond wow bounceIn text-danger"></i>
            <h3 class="text-danger">Pratik</h3>
            <p class="text-muted">İstatistik analiz bilmenize gerek yok.
            Kullanıcı dostu arayüzle birlikte en fazla 5 adımda istatistiksel veri analizi
            parmaklarınızın ucunda.</p>
          </div>
        </div> <!-- col-sm -->
      </div>

    </div> <!-- row -->

    <div class="row">  

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane wow bounceIn text-danger" data-wow-delay=".1s"></i>
            <h3 class="text-danger">Hızlı</h3>
            <p class="text-muted">Siz ofisinizde diğer işlerinizle meşgul
            olurken tercihinize göre veri analizleriniz 12 saat ile 30 gün arasında değişen teslimat
            süresi ile zamanı size iade edelim.</p>
          </div>
        </div> <!-- col-sm -->
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-danger" data-wow-delay=".3s"></i>
            <h3 class="text-danger">Akademik Kadro</h3>
            <p class="text-muted">Alanında uzman en az lisans üstü eğitime sahip
            güvenilir kadro. İstatistiksel veri analizlerinizde 3 Profesör, 4 Doçent ve 3 Yardımcı Doçent
            editörlüğünde toplam 34 çalışanla hizmetinizdeyiz. Tüm veri analizlerimizde ticari lisansa sahip SPSS, Minitab, LISREL paket programları ile açık kaynak kodlu yazılımları kullanmaktayız.</p>
          </div>
        </div> <!-- col-sm -->
      </div>
      
      <!--div class="col-lg-8 col-md-6 text-center scrollme">
        <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/136855263" width="640" height="323" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>        
          <h3>Örnek video</h3>
        </div> 
      </div -->

    </div> <!-- row -->

  </div>
  
</section>
