<section id="step2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <h2 class="section-heading">İstatistiğe İhtiyaç Duyan Herkes İçin</h2>
        <h3>Online İstatistik Otomasyonu</h3>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <img src="img/howto/step2.jpg" class="img-responsive img-rounded">
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        &nbsp;
      </div>
    </div> <!-- row -->

    <hr/>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12">

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-sign-in fa-4x text-info"></i><br/>
              <!-- span>Giriş</span -->
              <span class="label label-info">1</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Giriş Yapın</h4>
            Facebook ile de giriş yapabilirsiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-dashboard fa-4x text-info"></i><br/>
              <!-- span>Ana Sayfa</span -->
              <span class="label label-info">2</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Anasayfa</h4>
            Anasayfadan yeni iş girişi yapabilir veya öncek iş kayıtlarınızı düzenleyebilirsiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-check-square-o fa-4x text-info"></i><br/>
              <!-- span>Seçim</span -->
              <span class="label label-info">3</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Analizi Seç</h4>
            Talep ettiğiniz analizi seçiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-plus fa-4x text-info"></i><br/>
              <!-- span>Talep Et</span -->
              <span class="label label-info">4</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Talep Et</h4>
            Talebinizin ayrıntılarını giriniz. Anket formunu ve/ya örnek makalenizi yükleyiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-credit-card-alt fa-4x text-info"></i><br/>
              <!-- span>Ödeme</span -->
              <span class="label label-info">5</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Online Ödemenizi Gerçekleştirebilirsiniz</h4>
            İş ayrıntılarını tartışıp ücret belirlendikten sonra ödemenizi 3d güvenli ödeme imkanıyla gerçekleştirebilirsiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-paper-plane fa-4x text-info"></i><br/>
              <!-- span>Teslimat</span -->
              <span class="label label-info">6</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Teslimat</h4>
            Analiz panelinden analiz raporunuzu indirebilirsiniz.
          </div>
        </div> <!-- media -->

      </div>
    </div> <!-- row -->

    <div class='row'>
      <div class='col-sm-12 col-xs-12'>
        {% if site.data-ad-client %}
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- jekynewage -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="{{ site.data-ad-client }}"
               data-ad-slot="{{ site.data-ad-slot }}"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        {% endif %}
      </div>
    </div>

  </div> <!-- row -->
  </div> <!-- container -->
</section>
