<section id="step6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading text-center">EĞİTİMLERİMİZ</h2>
        <h4 class="text-center">HERKES İÇİN İSTATİSTİK SLOGANIYLA
          PROFESYONEL VE AKADEMİK ÇALIŞMALARINIZDA
          IBM SPSS VE MİNİTAB PAKET PROGRAM EĞİTİMLERİ İLE SİZLERLEYİZ.</h4>
        <hr>

        {% if site.data-ad-client %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- jekynewage -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{{ site.data-ad-client }}"
             data-ad-slot="{{ site.data-ad-slot }}"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <hr>
        {% endif %}

      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-success" href="#">
          <i class="fa fa-heartbeat fa-3x pull-left"></i> Tıp Fakültesi<br>Eğitimleri</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-primary" href="#">
          <i class="fa fa-medkit fa-3x pull-left"></i> Diş Hekimleri<br>Eğitimleri</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-danger" href="#">
          <i class="fa fa-industry fa-3x pull-left"></i> Özel Sektör<br>Eğitimleri</a>
      </div>
    </div> <!-- row -->

    <hr class="hidden-xs">

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <a class="btn btn-lg btn-block btn-warning" href="#">
          <i class="fa fa-signal fa-3x pull-left"></i> Minitab<br>Eğitimleri</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-info" href="#">
          <i class="fa fa-line-chart fa-3x pull-left"></i> SPSS<br>Eğitimleri</a>
      </div>

    </div> <!-- row -->

  </div> <!-- container -->
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">EĞİTİMLERİMİZDEN GÖRÜNTÜLER</h3>
      </div>
    </div>

    <div class="row no-gutter">

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/02.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                MİNİTAB İLE UYGULAMALI İSTATİSTİK VE KALİTE KONTROL EĞİTİMİ
              </div>
              <div class="project-name">
                SANSET GIDA (ORDU-SAGRA) PERSONELİNE YÖNELİK TOPLAM 32 SAATLİK TEMEL
                VE İLERİ DÜZEY İSTATİSTİKSEL ANALİZ İLE KALİTE KONTROL EĞİTİMİ TAMAMLANMIŞTIR.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/01.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                DOĞU ANADOLU KALKINMA AJANSI "UYGULAMALI SPSS EĞİTİMİ
              </div>
              <div class="project-name">
                Doğu Anadolu Kalkınma Ajansı personeline yönelik düzenlemiş olduğumuz
                ve toplam 26 kişinin katıldığı eğitimimiz sona erdi. Hakkari, Muş,
                Bitlis ve Van dan eğitime katılan tüm DAKA personeline teşekkürlerimizi sunarız.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/03.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                UYGULAMALI SPSS EĞİTİMİ
              </div>
              <div class="project-name">
                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner
                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik
                düzenlediğimiz eğitim sona erdi.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/04.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 4
              </div>
              <div class="project-name">
                Eğitim Fakültesi, Fen Edebiyat Fakültesi, İktisadi
                İdari Bilimler Fakültesi, TÜBİTAK Projesi hazırlayan MEB personeli,
                Saha Araştırması yapan Kurum ve Kuruluş personellerinin katılabileceği
                uygulamalı veri analizi eğitimimiz başlayacaktır.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/05.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 3
              </div>
              <div class="project-name">
                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner
                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik
                düzenlediğimiz eğitim sona erdi. Fotoğrafta olmayan
                katılımcıları sonradan ekleyeceğim.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/06.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                SPSS UYGULAMALI İSTATİSTİK EĞİTİMİ 2
              </div>
              <div class="project-name">
                Tıp Fakültesi, Diş Hekimliği Fakültesi ve Veteriner
                Fakültesine ile Sağlık YO ve Sağllık Hiz. MYO yönelik
                düzenlediğimiz eğitim sona erdi.
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
