<section id="step1" class="download bg-primary text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-7 col-xs-12">
              <img src="img/reliable.jpg" class="img-responsive img-rounded" alt="reliable">
            </div>

            <div class="clearfix visible-xs-block">
              &nbsp;
            </div>

            <div class="col-md-5 col-xs-12">
                <h2 class="section-heading">İstatiksel Analiz</h2>
                <h3>Akademik çalışmalarınız için online istatistik otomasyonu hizmetinizde!</h3>
                <h3>İstatistik analizi dert etmeyin, verilerinizi akademik ellere bırakın.</h3>

                <div class="badges">
                    <a class="btn btn-lg btn-success" href="http://app.eistatistik.net">
                        <i class="fa fa-random fa-2x pull-left"></i>Uygulamaya Git
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
