<section id="step2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <h2 class="section-heading">İstatistiğe İhtiyaç Duyan Herkes İçin</h2>
        <h3>Online İstatistik Otomasyonu</h3>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <img src="img/howto/step2.jpg" class="img-responsive img-rounded">
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        &nbsp;
      </div>
    </div> <!-- row -->

    <hr/>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12">

        <div class="media">
          <div class="media-left">
            <div class="quick-btn">
              <i class="fa fa-sign-in fa-4x"></i><br/>
              <!-- span>Giriş</span -->
              <span class="label label-info">1</span>
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading">Giriş Yapın</h4>
            Facebook ile de giriş yapabilirsiniz.
          </div>
        </div> <!-- media -->

        <div class="media">
          <div class="media-left">
            <i class="fa fa-dashboard fa-5x"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Anasayfada İşleri Takip Edin</h4>
            Yeni iş kaydı girebilirsiniz veya eski işlerinizi görebilirsiniz.
          </div>
        </div> <!-- media -->

      </div>
    </div> <!-- row -->

    <div class='row'>
      <div class='col-sm-12 col-xs-12'>
        {% if site.data-ad-client %}
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- jekynewage -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="{{ site.data-ad-client }}"
               data-ad-slot="{{ site.data-ad-slot }}"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        {% endif %}
      </div>
    </div>

  </div> <!-- row -->
  </div> <!-- container -->
</section>
