<section id="step2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="section-heading">İstatistiğe İhtiyaç Duyan Herkes İçin Online İstatistik Otomasyonu</h2>
            </div>

            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-3 col-xs-12">
                  <div class="thumbnail">
                    <span class="badge badge-danger pull-left" style=" position: relative; top: 8px; right: 8px;">1</span>
                    <img src="img/howto/step1_signin.png" class="img-responsive img-rounded">
                    <div class="caption">
                      <h3>Önce giriş yap</h3>
                      <p>Facebook ile giriş yapabilirsiniz.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-xs-12">
                  <div class="thumbnail">
                    <span class="badge badge-danger pull-left" style=" position: relative; top: 8px; right: 8px;">2</span>
                    <img src="img/howto/step2_dash.png" class="img-responsive img-rounded">
                    <div class="caption">
                      <h3>Önce giriş yap</h3>
                      <p>Facebook ile giriş yapabilirsiniz.</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-xs-12">
                  <div class="thumbnail">
                    <span class="badge badge-danger pull-left" style=" position: relative; top: 8px; right: 8px;">3</span>
                    <img src="img/howto/step3_select.png" class="img-responsive img-rounded">
                    <div class="caption">
                      <h3>Önce giriş yap</h3>
                      <p>Facebook ile giriş yapabilirsiniz.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="thumbnail">
                    <span class="badge badge-danger pull-left" style=" position: relative; top: 8px; right: 8px;">4</span>
                    <img src="img/howto/step4_talep.png" class="img-responsive img-rounded">
                    <div class="caption">
                      <h3>Önce giriş yap</h3>
                      <p>Facebook ile giriş yapabilirsiniz.</p>
                    </div>
                  </div>
                </div>
              </div>
             </div>

                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>
