<section id="step4" class="features">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Online İstatistik Otomasyonu</h2>
          <p class="text-muted">Çok sayıda analiz hizmeti sizleri bekliyor</p>
          <hr>
        </div>
      </div>
    </div> <!-- row -->

    <div class="row">

      <div class="col-md-12">
        <div class="container-fluid">

          <div class="row">            
            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
                <div class="feature-item">
                  <i class="fa fa-random fa-3x text-primary"></i>
                  <h3>İstatistiksel Analiz</h3>
                  <p class="text-muted">Makale, tez ve bilimsel araştırmalarda istatistiksel analiz talebi</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatey="-200">
                <div class="feature-item">
                  <i class="fa fa-bar-chart fa-3x text-primary"></i>
                  <h3>Raporlama</h3>
                  <p class="text-muted">Analiz sonuçlarının raporlanması talebi</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
                <div class="feature-item">
                  <i class="fa fa-line-chart fa-3x"></i>
                  <h3>Power Analiz</h3>
                  <p class="text-muted">Etik kurullar için Örnek genişliği ve Power analizi talebi</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">            
            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="-200">
                <div class="feature-item">
                  <i class="fa fa-cogs fa-3x text-primary"></i>
                  <h3>Veri İşleme</h3>
                  <p class="text-muted">Veri girişi ve veri düzenleme işlemleri talebi</p>
                </div>
              </div>
            </div>          

            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatey="200">
                <div class="feature-item">
                  <i class="fa fa-check-square-o fa-3x text-primary"></i>
                  <h3>Geçerlilik ve Güvenirlik Analizi</h3>
                  <p class="text-muted">Ölçek çalışmalarında geçerlilik ve güvenilirlik talebi</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 scrollme">
              <div class="animateme scrollme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="200">
                <div class="feature-item">
                  <i class="fa fa-calculator fa-3x text-primary"></i>
                  <h3>Online Analiz</h3>
                  <p class="text-muted">Frekans Analizi, Tanımlayıcı İstatistik, Parametrik ve Parametrik olmayan analizler</p>
                </div>
              </div>
            </div>
          </div>
          
        </div> <!-- container-fluid -->
      </div> <!-- col-md-12 -->

    </div> <!-- row -->

  </div>
  
</section>
