<section id="step6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading text-center">TRAINING COURSES</h2>
        <h4 class="text-center">STATISTICS FOR EVERYONE PROFESSIONAL AND ACADEMIC STUDIES IBM SPSS AND MINITAB PACKAGE EDUCATION</h4>
        <hr>

        {% if site.data-ad-client %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- jekynewage -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{{ site.data-ad-client }}"
             data-ad-slot="{{ site.data-ad-slot }}"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <hr>
        {% endif %}

      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-success" href="#">
          <i class="fa fa-heartbeat fa-3x pull-left"></i> MEDICAL SCHOOL <br> Education</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-primary" href="#">
          <i class="fa fa-medkit fa-3x pull-left"></i> DENTISTRY <br> Education</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-danger" href="#">
          <i class="fa fa-industry fa-3x pull-left"></i> PRIVATE SECTOR <br> Trainings</a>
      </div>
    </div> <!-- row -->

    <hr class="hidden-xs">

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <a class="btn btn-lg btn-block btn-warning" href="#">
          <i class="fa fa-signal fa-3x pull-left"></i> MINITAB <br>TRAINING</a>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <a class="btn btn-lg btn-block btn-info" href="#">
          <i class="fa fa-line-chart fa-3x pull-left"></i> SPSS<br>TRAINING</a>
      </div>

    </div> <!-- row -->

  </div> <!-- container -->
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">SCENES FROM EDUCATIONAL ACTIVITIES</h3>
      </div>
    </div>

    <div class="row no-gutter">

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/02.jpg" class="img-responsive" alt="02">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                APPLIED STATISTICS AND QUALITY CONTROL TRAINING WITH MINITAB
              </div>
              <div class="project-name">
                SANSET FOOD (ORDU-SAGRA) PERSONNEL TOTAL 32 HOUR BASIC AND QUALITY CONTROL TRAINING COMPLETED WITH ADVANCED LEVEL STATISTICAL ANALYSIS.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/01.jpg" class="img-responsive" alt="01">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                EASTERN ANATOLIA DEVELOPMENT AGENT "APPLIED SPSS EDUCATION"
              </div>
              <div class="project-name">
                We have organized for Eastern Anatolia Development Agency personnel and a total of 26 people attended. Hakkari, Mus. We would like to thank all DAKA staff who participated in the training from Bitlis and Van.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/03.jpg" class="img-responsive" alt="03">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                APPLIED SPSS EDUCATION
              </div>
              <div class="project-name">
                Faculty of Medicine, Faculty of Dentistry and Veterinary With the Faculty of Health and Health Care. The education we had organized ended.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/04.jpg" class="img-responsive" alt="04">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  SPSS APPLIED STATISTICS EDUCATION 4
              </div>
              <div class="project-name">
                Faculty of Education, Faculty of Science and Literature, Economics Faculty of Administrative Sciences, MEB personnel preparing the TUBITAK Project, The field survey research institution and organization staff can participate our practical data analysis training will begin.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/05.jpg" class="img-responsive" alt="05">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                SPSS APPLIED STATISTICS EDUCATION 3
              </div>
              <div class="project-name">
                Faculty of Medicine, Faculty of Dentistry and Veterinary With the Faculty of Health and Health Care. The education we had organized ended. Not in the photo I will add attendees later.
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="/img/portfolio/06.jpg" class="img-responsive" alt="06">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                SPSS APPLIED STATISTICS EDUCATION 2
              </div>
              <div class="project-name">
                Faculty of Medicine, Faculty of Dentistry and Veterinary With the Faculty of Health and Health Care. The education we had organized ended.
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
    
  </div>
</section>
