<h2>Müşteri Görüşleri</h2>
<div class='row'>
    <div class='col-sm-4'>
    </div>
</div>

<div class="container content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->

        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle img-responsive" src="img/testimonials/01.jpg"> </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Çok güzel bir eğitim oldu.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatiksel analiz ve kalite kontrol eğitimi için teşekkürler EİSTATİSTİK</p>
                                    <blockquote class="adjust2">
                                        <p>Ezgi Aksoy
                                        <small><i class="glyphicon glyphicon-globe"></i>SANSET GIDA</small></p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle img-responsive" src="img/testimonials/03.jpg">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">İstatik korkulu rüya değil!</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Firmamızın istatik analiz ihtiyaçlarını kendimiz karşılayabiliyoruz.</p>
                                    <blockquote class="adjust2">
                                        <p>Ahmet Sarı
                                            <span><i class="glyphicon glyphicon-globe"></i>Doğu Anadolu Kalkınma Ajansı</span>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-circle img-responsive" src="img/testimonials/04.jpg"> </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Makale yazarken istatiksel analizi dert etmeyeceğim.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Akademik çalışmalarımda kullandığım istatik analizlerinin mantığını anladım.</p>
                                    <blockquote class="adjust2">
                                        <p>Mehmet Emin Önger
                                            <span><i class="glyphicon glyphicon-globe"></i>OMÜ, Tıp Fakültesi, Akademisyen</span>
                                         </p> 
                                    </blockquote>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>
