<h2 class="section-heading text-center" style="font-size: 50px;">MÜŞTERİ GÖRÜŞLERİ</h2>

<!--script type="text/javascript"> 
var review_token = 'VEe6s2Y2BHdmhj9kKYharKd2y4bDxLdIuvzQkWwsajCvw3Yqfm'; 
var review_target = 'review-container'; 
</script> 
<script src="https://reviewsonmywebsite.com/js/embed.js" type="text/javascript"></script> 

<div class="container content">
  <div id="review-container"></div> 
</div-->    

<div class="container content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            <li data-target="#carousel-example-generic" data-slide-to="12"></li>
        </ol>
        <!-- Wrapper for slides -->

        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10407910_10153306840004025_5171126139224171294_n.jpg?oh=72af8e01fd3c52211e002cccfba3a622&oe=5A50A837" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiğin sıkıcı ve korkutucu olmadığını gösterdiğiniz için; yüksek enerjiniz için, eğitimi keyifli hale getirdiğiniz için ve ben bunu yapabilirim duygusunu hepimize hissettirdiğiniz için teşekkürler...</p>
                                    <blockquote class="adjust2">
                                        <p>Aynur Arslan
                                           <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Öğretim Üyesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10432989_10152678940038443_6599712685859654807_n.jpg?oh=8c5ffe16934b34f055bea06940ae7763&oe=5A47B7C0" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiği; güler yüzü, akıcı, espirili, kendine özgü anlatımıyla hepimizin gönlünde taht kuran Naci Murat hocamızdan dinlediğinizde tüm tabularınızın yıkılacağını garanti ederim ✌ Bilgisini ve becerisini bizlerden esirgemeden paylaştığı için kendisine teşekkürü bir borç bilirim ...</p>
                                    <blockquote class="adjust2">
                                        <p>Dilek Özge Yılmaz</p> 
                                       <small><i class="glyphicon glyphicon-globe"></i>Beykent Üniversitesi, Öğretim Üyesi</small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/21272083_10214238198018312_3732781133446089887_n.jpg?oh=e9c570b50102f9f6acbfe3404d2903f2&oe=5A467684" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistik öğrenmenin en eğlenceli hali :) Emeklerinden dolayı hocamıza çok teşekkür ederiz</p>
                                    <blockquote class="adjust2">
                                        <p>Sevil Masat
                                           <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/18119003_10154632583867426_528861060590245442_n.jpg?oh=a0256596e769ff82a062315895ce7203&oe=5A4167B6" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Mükemmel desteğiniz için çok teşekkürler..Başarılarınızın daim olmasını dilerim..</p>
                                    <blockquote class="adjust2">
                                        <p>Gülşilay Sayar
                                           <small><i class="glyphicon glyphicon-globe"></i>Medipol Üniversitesi, Öğretim Üyesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.17.160.160/p160x160/1601274_10152213925133890_711441259_n.jpg?oh=caa2e4cb54a81acf74eb5cd44058e749&oe=5A435264" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistik öğrenmek istiyorsanız ve 2.kursa gitmek istemiyorsanız ilk adres Eistatistik ve Naci Hoca. Gerçekten çok güzel ve verimli bir eğitimdi. Tekrar teşekkürler. .</p>
                                    <blockquote class="adjust2">
                                        <p>Melek Önder Yüce
                                           <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Öğretim Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/14915134_10207310545977096_3416957568633713341_n.jpg?oh=9033be4f706e7db45febb15b913a18ac&oe=5A4C30C0" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Egitim konusunda profosyonellik ve tecrube bir yana, tum istatistilerinizde dogru ve titizlikle yapan bir kurum. Rastladigim ve Naci Hocam'dan egitim aldigim icin cok memnunum.</p>
                                    <blockquote class="adjust2">
                                        <p>A Oğuzhan Küçük
                                           <small><i class="glyphicon glyphicon-globe"></i>Karadeniz Teknik Üniversitesi, Tıp Fakültesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19511610_10155085515684300_2514685280451900720_n.jpg?oh=5d1bcfd49291e61d213b1bc7d5a7ff4c&oe=5A4625C4" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Nitelikli ve doğru veri analizinin en doğru adresi..Teşekkurler Naci Hocam..</p>
                                    <blockquote class="adjust2">
                                        <p>Elif Keten Edis
                                           <small><i class="glyphicon glyphicon-globe"></i>Amasya Üniversitesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19756763_10213600118215725_2186144366790292148_n.jpg?oh=c4816bddff692da62606b102f7610b1f&oe=5A43B344" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiği hiç sıkılmadan eğlenceli olarak öğrenmek istiyorsanız tek isim Naci Hoca</p>
                                    <blockquote class="adjust2">
                                        <p>Özge Öz
                                           <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19424162_10154750237501134_122859558045902588_n.jpg?oh=5d8ba9d9ad7469cc89783af4ac57e178&oe=5A539B13" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Nitelikli veri analizi eğitimleri ve her türlü analiz ihtiyacınızda hızlı ve güvenilir sonuçlar için eistatistik 👍</p>
                                    <blockquote class="adjust2">
                                        <p>Ozlem Temel
                                           <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Yandal Uzmanı</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.27.160.160/p160x160/19424379_10213693672805893_6936013680508754344_n.jpg?oh=966857fbf520b6b8d8237fc7efe83045&oe=5A48A4FA" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistik öğrenmek istiyorsanız ve bu işi tek bir eğitimde bitirmek istiyorsanız kesinlikle Eistatistik ve Naci Hoca. ...</p>
                                    <blockquote class="adjust2">
                                        <p>Dilek Önder Tokgöz
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
            
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/18740689_1933505213601328_7762406314047582617_n.jpg?oh=9d0329ecf57dd49f8f70d0572c66fc7b&oe=5A4B22AA" alt="04">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiği eğlenceli bir şekilde öğrenmek , ön yargılarınızı yıkmak ve zaman kaybetmek istemeyenler için Naci Hoca kesinlikle tek tercih olmalı.Her şey için çok teşekkür ederim hocam...</p>
                                    <blockquote class="adjust2">
                                        <p>Didar Karakaş
                                          <small><i class="glyphicon glyphicon-globe"></i>Ondokuz Mayıs Universitesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle img-responsive" src="img/testimonials/01.jpg" alt="01"> </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Çok güzel bir eğitim oldu.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatiksel analiz ve kalite kontrol eğitimi için teşekkürler EİSTATİSTİK</p>
                                    <blockquote class="adjust2">
                                        <p>Ezgi Aksoy
                                           <small><i class="glyphicon glyphicon-globe"></i>SANSET GIDA A.Ş. (ORDU), Gıda Mühendisi</small>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-circle img-responsive" src="img/testimonials/03.jpg" alt="03">
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">İstatik korkulu rüya değil!</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Ajansımızın istatik analiz ihtiyaçlarını kendimiz karşılayabiliyoruz. Kalıcı bir eğitim için teşekkürler</p>
                                    <blockquote class="adjust2">
                                        <p>Halil İbrahim GÜRAY
                                            <small><i class="glyphicon glyphicon-globe"></i>Doğu Anadolu Kalkınma Ajansı, Genel Sekreteri</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-circle img-responsive" src="img/testimonials/04.jpg"> </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Makale yazarken istatiksel analizi dert etmeyeceğim.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Akademik çalışmalarımda kullandığım istatik analizlerinin mantığını anladım.</p>
                                    <blockquote class="adjust2">
                                        <p>Mehmet Emin Önger
                                            <small><i class="glyphicon glyphicon-globe"></i>OMÜ, Tıp Fakültesi, Akademisyen</small>
                                         </p> 
                                    </blockquote>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>
<br>
