<h2 class="section-heading text-center" style="font-size: 50px;"> COMMENTS FROM OUR USERS</h2>

<!--script type="text/javascript"> 
var review_token = 'VEe6s2Y2BHdmhj9kKYharKd2y4bDxLdIuvzQkWwsajCvw3Yqfm'; 
var review_target = 'review-container'; 
</script> 
<script src="https://reviewsonmywebsite.com/js/embed.js" type="text/javascript"></script> 

<div class="container content">
  <div id="review-container"></div> 
</div-->    

<div class="container content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            <li data-target="#carousel-example-generic" data-slide-to="12"></li>
            <li data-target="#carousel-example-generic" data-slide-to="13"></li>
            <li data-target="#carousel-example-generic" data-slide-to="14"></li>
           <li data-target="#carousel-example-generic" data-slide-to="15"></li>
           <li data-target="#carousel-example-generic" data-slide-to="16"></li>
            <li data-target="#carousel-example-generic" data-slide-to="17"></li>
          <li data-target="#carousel-example-generic" data-slide-to="18"></li>
          <li data-target="#carousel-example-generic" data-slide-to="19"></li>
            <li data-target="#carousel-example-generic" data-slide-to="20"></li>
          <li data-target="#carousel-example-generic" data-slide-to="21"></li>
          <li data-target="#carousel-example-generic" data-slide-to="22"></li>
           <li data-target="#carousel-example-generic" data-slide-to="23"></li>
           <li data-target="#carousel-example-generic" data-slide-to="24"></li>
           <li data-target="#carousel-example-generic" data-slide-to="25"></li>
            <li data-target="#carousel-example-generic" data-slide-to="26"></li>
           <li data-target="#carousel-example-generic" data-slide-to="27"></li>
           <li data-target="#carousel-example-generic" data-slide-to="28"></li>
        </ol>
        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-1/p160x160/21078781_10159293998305010_6001368017854560962_n.jpg?oh=865267fd01fb42074beec5b043cd216f&oe=5A4085B1" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Statistics had always been very difficult and boring to me because I did not know, but I decided to participate in the course of Naci Hoca because I could not avoid the statistics when I worked in an academic environment. Naci Hacja has made me and your group friends believe that your statistic is not really that scary, and that we can do all of our fundamental analysis. Thanks to the documents he gave us, we could easily refresh our knowledge even after a long time. I also recommended friendship statisticians who did not know any statistics and they were very satisfied. Statistically, this area filled a very important gap. Thanks to everyone who has passed the test ...</p>
                                    <blockquote class="adjust2">
                                        <p>Ilkay Camlidag
                                            <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayis University, Academic Staff</small>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10407910_10153306840004025_5171126139224171294_n.jpg?oh=72af8e01fd3c52211e002cccfba3a622&oe=5A50A837" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> As you demonstrate that your statistic is not boring and frightening; Thank you for your high energy, for making education enjoyable, and for feeling all of us feel I can do this ...</p>
                                    <blockquote class="adjust2">
                                        <p>Aynur Arslan
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayis University, Academic Staff</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10432989_10152678940038443_6599712685859654807_n.jpg?oh=8c5ffe16934b34f055bea06940ae7763&oe=5A47B7C0" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Statistics; guler face, fluent, humorous, with his own expression Naci Murat, who has established the throne in our heart, guarantees that all your tabularities will be destroyed.  Thanks to him for sharing his knowledge and his skill from us ...</p>
                                    <blockquote class="adjust2">
                                        <p>Dilek Ozge Yilmaz</p> 
                                       <small><i class="glyphicon glyphicon-globe"></i> Beykent University, Academic Staff</small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/21272083_10214238198018312_3732781133446089887_n.jpg?oh=e9c570b50102f9f6acbfe3404d2903f2&oe=5A467684" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  The most fun state of statistics learning :) Thank you very much for your work</p>
                                    <blockquote class="adjust2">
                                        <p>Sevil Masat
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayis University, Research Assistant</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/18119003_10154632583867426_528861060590245442_n.jpg?oh=a0256596e769ff82a062315895ce7203&oe=5A4167B6" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Thank you very much for your excellent support .. I wish your succession to be a continent ..</p>
                                    <blockquote class="adjust2">
                                        <p>Gulsilay Sayar
                                           <small><i class="glyphicon glyphicon-globe"></i> Medipol University, Faculty of Dentistry, Academic Staff</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.17.160.160/p160x160/1601274_10152213925133890_711441259_n.jpg?oh=caa2e4cb54a81acf74eb5cd44058e749&oe=5A435264" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  If you want to learn statistics and do not want to go to 2nd place, the first address is Eistatistik and Naci Hoca. It was a really beautiful and productive education. Thanks again. .</p>
                                    <blockquote class="adjust2">
                                        <p>Melek Onder Yuce
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs University, Academic Staff</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/14915134_10207310545977096_3416957568633713341_n.jpg?oh=9033be4f706e7db45febb15b913a18ac&oe=5A4C30C0" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Aside from professionalism and experience in the field of education, it is an institution that does everything correctly and precisely. I have met and I am very happy that I have been trained by Naci Hoca.</p>
                                    <blockquote class="adjust2">
                                        <p>Ahmet Oguzhan Kuvuk
                                           <small><i class="glyphicon glyphicon-globe"></i> Karadeniz Technical University, Medical School</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19511610_10155085515684300_2514685280451900720_n.jpg?oh=5d1bcfd49291e61d213b1bc7d5a7ff4c&oe=5A4625C4" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Nitelikli ve doğru veri analizinin en doğru adresi..Teşekkurler Naci Hocam..</p>
                                    <blockquote class="adjust2">
                                        <p>Elif Keten Edis
                                           <small><i class="glyphicon glyphicon-globe"></i> Amasya Üniversitesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19756763_10213600118215725_2186144366790292148_n.jpg?oh=c4816bddff692da62606b102f7610b1f&oe=5A43B344" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiği hiç sıkılmadan eğlenceli olarak öğrenmek istiyorsanız tek isim Naci Hoca</p>
                                    <blockquote class="adjust2">
                                        <p>Özge Öz
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Universitesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/19424162_10154750237501134_122859558045902588_n.jpg?oh=5d8ba9d9ad7469cc89783af4ac57e178&oe=5A539B13" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Nitelikli veri analizi eğitimleri ve her türlü analiz ihtiyacınızda hızlı ve güvenilir sonuçlar için eistatistik 👍</p>
                                    <blockquote class="adjust2">
                                        <p>Ozlem Temel
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Universitesi, Yandal Uzmanı</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c0.27.160.160/p160x160/19424379_10213693672805893_6936013680508754344_n.jpg?oh=966857fbf520b6b8d8237fc7efe83045&oe=5A48A4FA" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistik öğrenmek istiyorsanız ve bu işi tek bir eğitimde bitirmek istiyorsanız kesinlikle Eistatistik ve Naci Hoca. ...</p>
                                    <blockquote class="adjust2">
                                        <p>Dilek Önder Tokgöz
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
            
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p160x160/18740689_1933505213601328_7762406314047582617_n.jpg?oh=9d0329ecf57dd49f8f70d0572c66fc7b&oe=5A4B22AA" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatistiği eğlenceli bir şekilde öğrenmek , ön yargılarınızı yıkmak ve zaman kaybetmek istemeyenler için Naci Hoca kesinlikle tek tercih olmalı.Her şey için çok teşekkür ederim hocam...</p>
                                    <blockquote class="adjust2">
                                        <p>Didar Karakaş
                                          <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Universitesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle img-responsive" src="img/testimonials/01.jpg" alt="01">
                                -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Çok güzel bir eğitim oldu.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> İstatiksel analiz ve kalite kontrol eğitimi için teşekkürler EİSTATİSTİK</p>
                                    <blockquote class="adjust2">
                                        <p>Ezgi Aksoy
                                           <small><i class="glyphicon glyphicon-globe"></i> SANSET GIDA A.Ş. (ORDU), Gıda Mühendisi</small>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle img-responsive" src="img/testimonials/03.jpg" alt="03"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">İstatik korkulu rüya değil!</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Ajansımızın istatik analiz ihtiyaçlarını kendimiz karşılayabiliyoruz. Kalıcı bir eğitim için teşekkürler</p>
                                    <blockquote class="adjust2">
                                        <p>Halil İbrahim GÜRAY
                                            <small><i class="glyphicon glyphicon-globe"></i> Doğu Anadolu Kalkınma Ajansı, Genel Sekreteri</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p240x240/10978658_10152997119646132_1298639490787467923_n.jpg?oh=9d02dd8ac12085515b0698d6427a5074&amp;oe=5A4907B0" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Naci Murat Hoca ve eistatistik ile ilk tanışmam tez aşamasinda oldu. Benim için yoğun ve stresli bir süreç olmasina rağmen tezin istatistik kısmı en keyifli ve en eğlenceli sürecti. Aslında beni asıl mutlu eden karşımdaki profesyonellik ve titizlikti. Ne zaman ihtiyaç duysaniz o an iletişim kurabiliyorsunuz. Herşey için çok teşekkürler...</p>
                                    <blockquote class="adjust2">
                                        <p>Murat Derebey
                                           <small><i class="glyphicon glyphicon-globe"></i> Tatvan Devlet Hastanesi, Genel Cerrah</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p240x240/21272293_873250472825420_7935715697544862885_n.jpg?oh=350974ef719ed57452c30fbdc6198a64&amp;oe=5A732223" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Oldukça zor geçen tez yazma dönemlerimizi istatistik alanında yaptığı katkılarıyla çok çok kolaylaştıran Naci hoca ve ekibine teşekkürler.. en çok da yüksek enerjisi, sabrı ve her aradığımda ulaşılabilir olması nedeniyle... istatistik konusundaki başarılarından ise bahsetmeye gerek yoktur diye düşünüyorum :)</p>
                                    <blockquote class="adjust2">
                                        <p>Işıl Karahasanoğlu
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Üniversitesi, Diş Hakimliği Fakültesi, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p240x240/21272286_10155901575428641_6493178513784563716_n.jpg?oh=cfebaa01ee724fb1674c95cf0134499d&amp;oe=5A42BFA3" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Yüksek Lisansta tez yaparken hep bir önyargı ve çekimserlik varken Naci Hoca sayesinde korku ile baktiğım istatistik aslinda anlasılır ve yapılabilirmiş. Özellikle verdigi örnekler ve birebir metodları gostermesi, yapilan hatalari düzeltme konusunda yol göstericiydi. Sorularimizi çekinmeden sorduk ve hocamiz her zaman yardimci oldu. Kurs bitti ama hala da desteği üzerimizde. Tesekkurler Naci Hocam ☺</p>
                                    <blockquote class="adjust2">
                                        <p>Cansev Bal Kaplan
                                           <small><i class="glyphicon glyphicon-globe"></i>  Ondokuz Mayıs Üniversitesi, Sağlık Bilimleri Enstitüsü</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c72.0.240.240/p240x240/17799125_10155125188178419_600078520399910927_n.jpg?oh=e38570aab3dd23cebe479f9f21108ce1&amp;oe=5A3B146D" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Birçok meslek disiplinine yönelik olarak hazırlamış oldugunuz kurslar ve bizlere kazandırmış oldugunuz istatistik temeli ile akademik hayatıma devam etmekteyim. Hazırlamış olduğunuz siteniz sayesinde en ufak bir sorumda dahi geri dönüşü anında alabildiğim platformunuz için çok teşekkür ediyor ve sayın Naci Murat Hocamı tekrar tebrik ediyorum.. İyiki varsınız hocam，sayenizde cok uzak oldugumuz ancak bilimin temeli olan istatistiğe daha yaklaşmış ve sevmiş bulunmaktayız...</p>
                                    <blockquote class="adjust2">
                                        <p>Sinem ÖZDEDE
                                           <small><i class="glyphicon glyphicon-globe"></i>  Düzce Üniversitesi, Peyzaj Tasarımı Anabilim Dalı, Arş.Gör.Dr.</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/p240x240/17362390_1399091283485179_2807843788825434012_n.jpg?oh=1c0a387e6df0694a7ba2393eed5259ad&amp;oe=5A3BBFA7" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Veri yoğunluğunda boğulduğum tezimin istatiksel analizindeki desteğiniz için çok teşekkür ederim.</p>
                                    <blockquote class="adjust2">
                                        <p>Hatun ÖZTÜRK ÇERİK
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Üniversitesi, Enfeksiyon Hastalıkları, Arş.Gör.Dr.</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-1/c111.0.240.240/p240x240/21369483_509204916113211_2151494114541928777_n.jpg?oh=5000818bd264f3b3400f4df014878be1&amp;oe=5A7162C6" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  İstatistiğin sıkıcı yanlarını zihnimden silen Naci Hocam, öncelikle keyifli ve verimli eğitimleriniz için ayrıca eğitim sonrası destekleriniz için çok teşekkür ederim :)</p>
                                    <blockquote class="adjust2">
                                        <p>Eda KILINÇ
                                           <small><i class="glyphicon glyphicon-globe"></i> Ondokuz Mayıs Üniversitesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/c0.0.240.240/p240x240/19059508_728400827366463_3846004407726356952_n.jpg?oh=ab98605920d32bc63de9a8277d4e4448&amp;oe=5A628FE6" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Aninda geridönüs yaparak beni hiç bunaltmadan(bi arkadasim yalap şalap yapilan istatikleri için baska bir istatistikciye ulasamamaktan sinir krizi gecirdigini hatirlayarak) telefonlarina mesajlarina çok hizli döñüş yapan işini ciddiye alan titiz ve profosyonel..bu profosyenellige ragmen olgun ve mütevazi.. ne demişler ekmeği ekmekçiye ver bi ekmekte üstüne ver..:))</p>
                                    <blockquote class="adjust2">
                                        <p>Duygu Deniz KURT
                                           <small><i class="glyphicon glyphicon-globe"></i> Samsun Kadin Dogum Ve Cocuk Hastanesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
           <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/p240x240/12369247_1489251261381459_4742753699707829881_n.jpg?oh=54609ca66555e30b48f06678bfed9e12&amp;oe=5AA65FCC" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Yüksek lisans tezimi hazırlarken bana büyük katkı sağlayan bu platform sadece analizlerimi yapmakla kalmayıp aklıma takılan soruların cevaplanması konusunda da destek oldu. Naci hocanın 7/24 ulaşılabilir olması da en büyük nimet. Bu süreçte bana yardımcı olan Naci hocama ve tüm ekibe çoook teşekkür ederim.</p>
                                    <blockquote class="adjust2">
                                        <p>Gonca Akboğa ASLAN
                                           <small><i class="glyphicon glyphicon-globe"></i> Endüstri Mühendisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
           <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent.fada1-2.fna.fbcdn.net/v/t1.0-1/c0.0.240.240/p240x240/14292457_1115688608510675_974731926841781121_n.jpg?oh=babeff58f4eb4e348dd2eb74f516af7c&amp;oe=5AD1D84E" alt="04"> -->
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Bilgi korkunun panzehiri gerçekten.İstatistiği hemen bir günde öğrenmek mümkün değil. Ama korkuyu yenmek için bir gün yetti. Beynimdeki inhibisyon kalktı. Üstelik video eğitimleri daha izlemedim bile. Yeni bir akademisyen olarak artık daha özgüvenliyim. Sn. Yrd.Doç.Dr. Naci Murat konusuna hakim, innovatif, pratik yaklaşım sahibi bir akademisyen. Kendisine SPSS kursundaki öğretici, sıcak ve bilgi dolu saatler için teşekkür ediyorum. En önemlisi artık arkamızda bilimsel çalışmalarımız için bir destek var. Online eğitim ve makale için istatistik desteği paha biçilmez. Bir hemşehrisi olarak gurur duydum. Herkese tavsiye ediyorum tüm samimiyetimle. Kursun düzenlenmesinde emeği geçenler takdiri hakediyor. Saygılar.</p>
                                    <blockquote class="adjust2">
                                        <p>Levent DİKBAŞ
                                           <small><i class="glyphicon glyphicon-globe"></i>  Aksaray Üniversitesi, Tıp Fakültesi, Öğretim Üyesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent.fada1-2.fna.fbcdn.net/v/t31.0-8/18422267_722662977942128_4457361173191032516_o.jpg?oh=983e366d05130dbc8643dc6215465d22&amp;oe=5A964219" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Çok faydalı bir kurs oldu.Emeği geçen herkese çok teşekkürler.</p>
                                    <blockquote class="adjust2">
                                        <p>Özlem Banu TULMAÇ
                                           <small><i class="glyphicon glyphicon-globe"></i>  Zekai Tahir Burak Kadın Sağlığı EAH, Kadın Doğum Uzmanı</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent.fada1-2.fna.fbcdn.net/v/t1.0-1/p240x240/18839112_10154958592308071_2656571523915975979_n.jpg?oh=97987117ae39afecaa74d16ef3c35212&amp;oe=5AC90546" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Sevgili Naci Murat hocanın eğlenceli anlatımıyla yanına yaklaşmaya korktuğumuz istatistik keyifli hale geldi. Sadece 9 saatte birçok şey öğrenme fırsatımız oldu. Hocamıza çok teşekkür ediyoruz</p>
                                    <blockquote class="adjust2">
                                        <p>Tuğba GÜLER
                                           <small><i class="glyphicon glyphicon-globe"></i>  Ankara Yıldırım Beyazıt Üniversitesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent.fada1-2.fna.fbcdn.net/v/t1.0-1/p240x240/12552625_1309592799066501_858478026066691841_n.jpg?oh=67e1498c7cfa8eb8cdb41174b4f161cd&amp;oe=5A9DEF8E" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  Şimdiye kadar faydalandığım en iyi bioistatistik kursuydu, öğretici ve mükemmel sunumu için Naci hocaya ayrıca teşekkür ederim.</p>
                                    <blockquote class="adjust2">
                                        <p>Onur EROL
                                           <small><i class="glyphicon glyphicon-globe"></i>  Kadın Doğum Uzmanı</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent.fada1-2.fna.fbcdn.net/v/t1.0-1/p240x240/16640786_10155044962129222_7480224060535215756_n.jpg?oh=be6fce519c385cc175687579dc2bf3a4&amp;oe=5A97F1B7" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Mükemmel bir kurstu, istatistiğin zor olmadığını ancak temel nüanslarını belli ipuçları ile anlatan, farkındalığı arttıran bir çalışma oldu. Sadece sonuç almayı değil, sonuca ulaşmanın her aşamasını hocamız ile kendi bilgisayarımızda yaparak tecrübe ettik. Teşekkür ederiz, Naci Hoca'nın diğer kurslarına da katılacağız...</p>
                                    <blockquote class="adjust2">
                                        <p>İlker Selçuk
                                           <small><i class="glyphicon glyphicon-globe"></i>  Zekai Tahir Burak Kadın Sağlığı EAH, Kadın Doğum Uzmanı</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/c0.0.240.240/p240x240/17800349_10155738053279528_2113576953799024364_n.jpg?oh=17ddb242834063c39346916ec359fdd4&amp;oe=5A8C32D0" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  30 Kasım 2017 de, 2. Uluslararası Gebelik Doğum Lohusalık Kongresi'nde Naci Murat Hocadan SPSS kursu aldım. Gözümüzü korkutan, "ben yapamam" "bu çok zor, karmaşık" dediğimiz konular, ancak bu kadar sade ve anlaşılır bir dille anlatılır. SPSS in, excel in bazı detayları ile, önceden günlerimi alan işlerin, bir kaç saniyede hazır olması muhteşem. Eistatistik sayfası/uygulamasını sağladığı kolaylık, pratiklik, hızlı ve anlaşılır olması nedeniyle çok kullanışlı buldum ve beğendim. Bundan sonraki eğitimlerde ve çalışmalarda da birlikte olmayı, kurmayı planladığınız çalışma ekibinde olabilmeyi çok isterim. Çok keyifli, öğretici,başarılı bir eğitimdi.Teşekkür ederim.</p>
                                    <blockquote class="adjust2">
                                        <p> Hatice Acar Bektaş
                                           <small><i class="glyphicon glyphicon-globe"></i>  Kocaeli Sağlık YO, Ebelik Bölümü, Araştırma Görevlisi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <!-- <img class="media-object img-circle " height="100" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/p240x240/23519051_10155505476075073_270246565819611203_n.jpg?oh=21e13ea1576fec163b41fbd4515ca85e&amp;oe=5A97715F" alt="04"> -->
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2"></p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span>  SPSS i bu kadar anlaşılır ve eğlenceli anlatmanızdan dolayı cok teşekkür ediyorum. Akademisyenlere bu konuda vermiş oldugunuz destekle hem ülkemizde hem de dünyada bilimsel yayınlara çok büyük katkı sağlayacağınızı düşünüyorum.</p>
                                    <blockquote class="adjust2">
                                        <p> Dr. Işıl KOCA
                                           <small><i class="glyphicon glyphicon-globe"></i>  Kadın Doğum Uzmanı, Malatya Devlet Hastanesi</small>
                                         </p> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
          
            <!--div class="item">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-circle img-responsive" src="img/testimonials/04.jpg"> </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">Makale yazarken istatiksel analizi dert etmeyeceğim.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Akademik çalışmalarımda kullandığım istatik analizlerinin mantığını anladım.</p>
                                    <blockquote class="adjust2">
                                        <p>Mehmet Emin Önger
                                            <small><i class="glyphicon glyphicon-globe"></i>OMÜ, Tıp Fakültesi, Akademisyen</small>
                                         </p> 
                                    </blockquote>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>
<br>
