<div class="row well text-warning">
  <div class="col-sm-10 col-xs-12">

    <div class="media">
      <div class="media-left">
        <div class="quick-btn">
          <i class="fa fa-table fa-4x text-warning"></i><br/>
          <!-- span>Talep Et</span -->
          <span class="label label-warning">2</span>
        </div>

      </div>
      <div class="media-body text-justify">
        <h4 class="media-heading">Beck Depresyon Ölçeği</h4>

        Aron T. Beck tarafından 1961 yılında geliştirilen Beck Depresyon
        Ölçeği (BDI) karakteristik tutum ve depresyon belirtilerini ölçen
        21 maddelik bir kendini değerlendirme ölçeğidir.  Uygulamanın
        tamamlanması yaklaşık 10 dakika sürer. 13 yaş ve üzeri kişiler için
        tasarlanmıştır. İlk olarak 1961 yılında geliştirilen test 1978 ve
        1996 yılında revize edilmiştir. Bilgisayar formları ve kağıt formu
        olmak üzere farklı biçimleri vardır.

      </div>
    </div> <!-- media -->

  </div> <!-- col -->

  <hr class="visible-xs">

  <div class="col-sm-2 col-xs-offset-4 col-xs-8">
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary btn-block" target="_blank" href="/downloads/beck_depresyon_olcegi.pdf">
          <i class="fa fa-file-excel-o fa-lg"></i> Excel Formu</a>
      </div>
    </div>

    <hr class="hidden-xs">

    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-info btn-block" href="#">
          <i class="fa fa-line-chart fa-lg"></i> SPSS Formu</a>
      </div>
    </div>

  </div> <!-- col -->
</div> <!-- row -->
